<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Регистрация</title>
    <style>
        * {
            box-sizing: border-box;
        }
        .error {
            color: red;
        }
        .error_module {
            display: none;
            padding: 25px 30px;
            width: 85%;
            background-color: red;
            border-radius: 10px/10px;
            color: white;
            text-align: center;
            transition: all 0.4s ;
            margin: 0 auto;
            opacity: .4;
        }
    </style>
    <link rel="stylesheet" th:href="@{/css/login.css}" href="../static/css/login.css">
</head>

<body>
<div class="wrapper fadeInDown">
    <div id="formContent">

        <a href="/auth/login"><h2 class="inactive underlineHover"> Войти </h2></a>
        <a href="/registration"><h2 class="active">Зарегистрироваться </h2></a>

        <form th:action="@{registration}" th:object="${UserForm}" method="post">
            <div class="error_module">
                <span th:text="${errorMessage}"></span>
            </div>
            <input type="text" th:field="*{email}" id="login" name="username" placeholder="Почта">
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:errorclass="error"></span>
            <input type="text" th:field="*{firstName}" placeholder="Имя" />
            <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" th:errorclass="error"></span>
            <input type="text" th:field="*{lastName}" placeholder="Фамилия" />
            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" th:errorclass="error"></span>
            <input type="password" th:field="*{password}" id="password" name="password" placeholder="Пароль">
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:errorclass="error"></span>
            <input type="password" th:field="*{passwordConfirm}" placeholder="Подтвердить пароль" />
            <select th:field="*{role}" onclick="checkRole()">
                <option value="">Выберите роль</option>
                <option value="STUDENT">STUDENT</option>
                <option value="TEACHER">TEACHER</option>
            </select>
            <select th:field="*{grp}">
                <option value="">Выберите группу</option>
                <option th:each="group: ${groupList}" th:value="${group.name}" th:text="${group.name}"></option>
            </select>
            <select th:field="*{dcp}">
                <option value="">Выберите дисциплину</option>
                <option th:each="disc: ${disciplineList}" th:value="${disc.name}" th:text="${disc.name}"></option>
            </select>
            <input type="submit" value="Зарегистрироваться">
        </form>

    </div>
</div>
<script>
    let errorModule = document.querySelector("#formContent > form > div");
    let role = document.querySelector("#role");
    let grp = document.querySelector("#grp");
    let dcp = document.querySelector("#dcp");
    grp.style.visibility="hidden";
    dcp.style.visibility="hidden";
    if (document.querySelector("#formContent > form > div > span").innerText !== "") {
        errorModule.style.display="block";
    }
    function checkRole() {
        if (role.value==='STUDENT') {
            grp.style.visibility="visible";
            dcp.style.visibility="hidden";
        }
        else if (role.value==='TEACHER'){
            grp.style.visibility="hidden";
            dcp.style.visibility="visible";
        } else {
            grp.style.visibility="hidden";
            dcp.style.visibility="hidden";
        }
    }
</script>
</body>
</html>